<h2> Movie </h2>

<table class="edit-details-table">
  <tr>
    <td> Name </td>
    <td> <input [(ngModel)]="movie.name" type="text" /> </td>
  </tr>
  <tr>
    <td> Year </td>
    <td> <input [(ngModel)]="movie.year" type="number" /> </td>
  </tr>
  <tr>
    <td> Plot </td>
    <td> <textarea [(ngModel)]="movie.plot"></textarea> </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="add-people">
        <div class="people">
          <h3> Actors </h3>
          <select [(ngModel)]="movie.actors" multiple>
            <option *ngFor="let actor of actors$ | async" [value]="actor.id"> {{ actor.name }} </option>
          </select>

        </div>

        <div class="people">
          <h3> Directors </h3>
          <select [(ngModel)]="movie.directors" multiple>
            <option *ngFor="let director of directors$ | async" [value]="director.id"> {{ director.name }} </option>
          </select>

        </div>

        <div class="people">
          <h3> Writers </h3>
          <select [(ngModel)]="movie.writers" multiple>
            <option *ngFor="let writer of writers$ | async" [value]="writer.id"> {{ writer.name }} </option>
          </select>

        </div>

      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="add-row">
      <button class="submit-enity" [disabled]="!movie.name || !movie.year || !movie.plot" (click)="add()"> Add </button>
    </td>
  </tr>

</table>

