<h2> {{ movie?.details?.name }}
  <small (click)="remove()" class="remove-entity"> Remove </small>
</h2>

<h3> Plot </h3>
<p>
  {{ movie?.details?.plot }}
</p>

<h3> Year </h3>
<p>
  {{ movie?.details?.year }}
</p>

<h3> Actors </h3>
<a class="person" *ngFor="let actor of movie?.actors" [routerLink]="['/actors', actor.id]"> {{ actor.name }} </a>

<h3> Directors </h3>
<a class="person" *ngFor="let director of movie?.directors" [routerLink]="['/directors', director.id]"> {{ director.name }} </a>

<h3> Writers </h3>
<a class="person" *ngFor="let writer of movie?.writers" [routerLink]="['/writers', writer.id]"> {{ writer.name }} </a>
