/* You can add global styles to this file, and also import other style files */

body {
  font-family: Helvetica, Arial, sans;
}

.section-structure {
  display: flex;


  .list {
    width: 350px;

    a {
      text-decoration: none;
      font-size: 22px;
      display: inline-block;
      padding: 10px 0;
      color: #555;

      &.active {
        color: #f50;
      }
    }
  }
  .content {
    width: 100%;;
  }
}

.remove-entity {
  font-size: 10px;
  color: #c00;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: #c00;
  }
}

.add-entity {
  a {
    color: #0c0;

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      color: #fff;
      background: #0c0;
      line-height: 20px;
      text-align: center;
    }

  }
}

.edit-details-table {
  width: 600px;
  font-size: 14px;
  line-height: 20px;
  color: #333;

  input, textarea {
    width: 100%;
    border: 2px solid #aaa;

    &:active, &:focus {
      border: 2px solid #aea;
    }
  }

  textarea {
    height: 100px;
  }

  .add-row {
    text-align: right;

    .submit-enity {
      display: inline-block;
      background: #0c0;
      color: #fff;
      padding: 15px;
      width: 150x;
      border: 2px solid #0c0;

      &:hover {
        background: #fff;
        color: #0c0;
        cursor: pointer;
      }

      &[disabled] {
        background: #ccc;
        color: #777;
        border: 2px solid #ccc;
        cursor: not-allowed;
      }
    }
  }

}


